# Terraform
*.tfstate
*.tfstate.*
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# CI/CD artifacts
PLAN_OUTPUT.txt
